---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

const { data } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={data.title} description={data.description} image={`/assets/blogs/${data.slug}/${data.hero}`} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .5rem;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
            .hero-image > cite {
                width: 1020px;
            }
			.prose {
				width: 1200px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}

            #blog-title {
                font-size: 3em;
            }
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="hero-image">
					{data.hero && <img width={1020} height={510} src={`/assets/blogs/${data.slug}/${data.hero}`} alt="" />}
                    {data["hero-credit"] && <cite>{data["hero-credit"]}</cite>}
				</div>
				<div class="prose">
					<div class="title">
						<div class="date">
                            {data.pubDate}
						</div>
						<h1 id="blog-title">{data.title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
	</body>
</html>
